[2022-01-27 22:58] danielgomezrico opened #11 "Allow logging on Android platform"
Currently, we can call `Segment.debug(true/false)` but it only works on iOS for some reason.

We need to implement it for android too, some docs:
- https://segment.com/docs/connections/sources/catalog/libraries/mobile/android/#adding-debug-logging

[2022-01-28 14:54] danielgomezrico opened #13 "Automate deployments from CI"
# Current
The deployment must be done manually

# Expected
The deploy is done on CI

[2022-02-22 13:08] thorgexyz opened #16 "Request: Firebase Analytics Support"
I would like to add Firebase as a destination to Segment as per this [documentation](https://segment.com/docs/connections/destinations/catalog/firebase/).

Seems like [this has been in the making](https://github.com/la-haus/flutter-segment/pull/4)?

Maybe some others who would also like this can upvote the post.

[2022-02-23 16:51] geoox commented on #16
Interested in this as well. I am curious how to add destinations and make them compatible to the flutter app. For example, how can I send push notifications (e.g. using Firebase FCM) based on the events tracked with Segment. Any help would be appreciated

[2022-03-14 07:08] ariefwijaya commented on #16
I can help for this, I'll send you PR for this, soon

[2022-03-31 22:38] ariefwijaya opened #21 "Missing advertisingId and adTrackingEnabled"
Refer to the segment official docs:
1. ios https://segment.com/docs/connections/sources/catalog/libraries/mobile/ios/#ad-tracking-and-idfa
2. android https://segment.com/docs/connections/sources/catalog/libraries/mobile/android/#analytics-android-and-unique-identifiers

We need to add option to enable/disable advertising id.

[2022-04-07 20:14] danielgomezrico commented on #16
@geoox to integrate push with Firebase, go to the Firebase SDK implementation and docs, it is not related to this library.

[2022-04-11 10:01] Smibser opened #22 "Exception after updating to 4.7.0"
Since I updated flutter_segment to 3.7.0 I get the following exception on app start when I call `Segment.config(...)`
<img width="1064" alt="Screen Shot 2022-04-11 at 11 56 20 AM" src="https://user-images.githubusercontent.com/56257499/162714855-1a55d5c1-9e52-465c-8fd0-64a334db5d2e.png">

The last working version is 3.3.0

[2022-04-11 19:25] danielgomezrico commented on #22
@Smibser please share some info from your environment, can you show us your pubspec and the flutter doctor output?

[2022-04-12 06:16] Smibser commented on #22
Oh yeah of course.

pubspec.yaml
[code]

flutter doctor -v
[code]

[2022-04-13 02:07] ariefwijaya commented on #16
it's related btw, we need to integrate firebase sdk with segment.

@geoox you can use my branch if you need it [here](https://github.com/sribuu/flutter-segment/tree/feature/firebase-integration )

[2022-04-13 15:03] danielgomezrico opened #23 "How to add context attributes"
How can we add context hash for events?

# event json example
[code]

# Docs
Context docs: https://segment.com/docs/connections/spec/common/#context

- Android: https://segment.com/docs/connections/sources/catalog/libraries/mobile/android/#context
- iOS: ????

[2022-04-16 13:21] ariefwijaya commented on #22
@Smibser Please run
`flutter clean`
`flutter pub get`
then
Run the project

[2022-04-16 13:28] ariefwijaya commented on #23
I think we already have it [here](https://github.com/la-haus/flutter-segment#sending-device-tokens-strings-for-push-notifications). is this not enough?

[2022-04-16 13:31] ariefwijaya commented on #21
For now, I'm using this plugin to get the [advertising_id](https://pub.dev/packages/advertising_id) and pass it to the `flutter-segment` from the app side. I figure out this could be included in our `flutter-segment` plugin. But, wdyt?
@danielgomezrico

[2022-04-18 16:23] danielgomezrico commented on #22
if what @ariefwijaya dont work, can you share a working example that reproduce the issue? I am not able to reproduce it

[2022-04-18 16:24] danielgomezrico commented on #21
And so that will require to add this https://pub.dev/packages/advertising_id inside `flutter-segment`?

I see from the documentation you shared that they expose a way to get that directly, why do you need that other dependency?

[2022-04-18 21:11] danielgomezrico commented on #23
:O it does work, thanks for the message

[2022-04-18 21:11] #23 closed

[2022-04-21 08:24] ariefwijaya commented on #21
yes and also we need to have a config to enable/disable the advertising id.
Because I think, the segment supports this feature.

Please read:
https://segment.com/docs/connections/sources/catalog/libraries/mobile/android/#analytics-android-and-unique-identifiers
https://segment.com/docs/connections/sources/catalog/libraries/mobile/ios/#ad-tracking-and-idfa

I prefer to use another dependency rather

[2022-04-27 20:57] ahetawal-p opened #24 "Don't import implementation files from another package error"
Flutter analyze seems to fail with this error:

[code]

[2022-05-04 18:08] ArmandoJimenezOS opened #25 "Why is the Segment.screen() method called in the build() method?"
Hi,

As I understand, the build method can be called multiple times per second, and this track screen function is a method channel. Was this intention? or what's the best practice to log a screen without it being called multiple times in the same screen session?

[2022-05-04 19:53] danielgomezrico commented on #25
@ArmandoJimenezOS thanks for reporting it, can you show the line or file where you see this?

[2022-05-04 19:55] ArmandoJimenezOS commented on #25
Thanks for answering. In the examples of this package, it shows calling Segment.screen() in the build method, is this where we are supposed to call it?

[2022-05-05 08:24] Mik77o opened #26 "App installed event tracking problem for iOS"
I have noticed a problem with _app installed_ event not being tracked for iOS. I am using version `3.7.0`. In the Segment configuration `Segment.config` I have `trackApplicationLifecycleEvents set: true`, but this event does not seem to work.

[2022-05-05 15:32] danielgomezrico commented on #26
Are you talking about `Application Installed` event?

https://segment.com/docs/connections/spec/mobile/#application-installed

[2022-05-05 15:33] Mik77o commented on #26
Yes :)

[2022-05-05 15:37] Mik77o commented on #26
On Android, this type of event is tracked. Maybe it's related to this: https://developer.apple.com/app-store/user-privacy-and-data-use/
Asking permissions to track

What do you think?

[2022-05-10 07:35] Mik77o commented on #26
@danielgomezrico, I tried to add tracking permissions via [app_tracking_transparency](https://pub.dev/packages/app_tracking_transparency) but still this event is not being tracked in the Segment.

[2022-05-18 07:59] ariefwijaya commented on #26
I don't think so,
It is not because `this event is not being tracked in the Segment` , the event tracked by segment already, you can test it.
I've tested it.
![Untitled-1](https://user-images.githubusercontent.com/24664153/168987189-bd17f143-96a0-455f-b1ae-7f7319e1c331.png)

As you can see, it was happened because in the default event like "Application Installed" never send fields `adTrackingEnabl

[2022-05-18 08:03] ariefwijaya commented on #25
No, it depend on your case. In the examples, it is a **StatelessWidget**, so the `build method` will never called  multiple time unless you reopen the widget.

The conclusion :
1. In the **StatelessWidget**, you can call `Segment.screen()` in the build method
2. In the **StatefulWidget**, you must call `Segment.screen()` in the `initState` method.

[2022-05-18 08:06] ariefwijaya commented on #24
Just ignore them, you can add this config in your `analysis_options`
[code]

@ahetawal-p

[2022-05-18 08:09] ariefwijaya commented on #21
I found a problem when adding advertising_id using `Segment.setContext`, it only add the context in the custom events. But nothing in the Application LifeCyles event (Default Event).

@danielgomezrico

[2022-05-18 08:15] ariefwijaya commented on #26
Dunno why, it only happened in the `Application Installed` event. And not in another default event. For E.g
<img width="603" alt="image" src="https://user-images.githubusercontent.com/24664153/168991389-25b9ec20-1439-43cc-9e1d-cdfb910b0d94.png">

[2022-05-18 09:35] ariefwijaya commented on #21
Closed this issue, better to add advertising id outside flutter-segment plugin

[2022-05-18 09:35] #21 closed

[2022-05-18 10:50] danielgomezrico commented on #26
I checked too for iOS and the events exists 🤔

What else could be missing on your setup?

[2022-05-18 11:16] ariefwijaya commented on #26
@danielgomezrico Yes, the event exists, I think the problem is about IDFA. in some case such as facebook, the event will not received without IDFA

[2022-05-26 09:00] Mik77o commented on #26
@ariefwijaya, could you please include a snippet of code, what should the configuration look like in the Segment for Flutter app when using the [advertising_id](https://pub.dev/packages/advertising_id) and flutter_segment plugin? :)

[2022-05-26 10:04] ariefwijaya commented on #26
I prefer use facebook_app_events together with flutter_segment, so it will solve the problem without many boilerplate

[2022-05-26 12:24] Mik77o commented on #21
@ariefwijaya
How was _advertisingId_ added manually? I added something like this on the Flutter side.
[code]

Some of the fields for `device` field that were visible before are no longer present. It looks like the `device` part has been overwritten. Only the `type: ios` left.

From Segment:

before my changes

[code]

now (Adding a configuration manually)

[code]

[2022-05-26 14:14] Mik77o commented on #26
@ariefwijaya @danielgomezrico
How was _advertisingId_ added manually? I added something like this on the Flutter side.
[code]

Some of the fields for `device` field that were visible before are no longer present. It looks like the `device` part has been overwritten. Only the `type: ios` left.

From Segment:

before my changes

[code]

now (Adding a configuration manually)

[code]

[2022-05-26 15:14] limonadev commented on #22
The problem appears when there are configuration keys in the `Info.plist` file (the deprecated ones). The PR #94 added a boolean `wasSetupFromFile` that is causing the problem when there are two setups, from `Info.plist` and from dart method `Segment.config`. The solution is to simply remove the configuration keys from `Info.plist`.

[2022-05-26 15:31] ariefwijaya commented on #26
Yes, but it won't delete any other value except the one we want to overwrite, So, it must be
[code]

  btw , I mix it with facebook_app_event plugin to track default event such as App Install

[2022-05-27 02:26] danielgomezrico commented on #22
We should remove the deprecated configs 🤔

[2022-05-27 13:34] limonadev commented on #22
We probably should add that to the README, and also remove the boolean `wasSetupFromFile` as the configuration file is no longer needed/supported.

[2022-06-01 12:39] zenled commented on #26
Hey, I'm experiencing the same problem.
On Android, it all works as expected.
On iOS, the `Application Installed` event is not being triggered. (I have set `trackApplicationLifecycleEvents` to`true`)
The problem is probably in the way Segment is being configured:

If I configure Segment using Dart, by calling ` Segment.config(options: SegmentConfig(...` then the `Application Installed` event will

[2022-06-02 12:04] Mik77o commented on #26
@danielgomezrico  @ariefwijaya I have a problem with `advertisingId` and `adTrackingEnabled ` fields in Segment for release mode (Android). It doesn't appear :/

I get the `advertisingId` from the [advertising_id](https://pub.dev/packages/advertising_id) package.

[2022-06-03 09:47] Imgkl commented on #16
Any updates on this one?

[2022-06-09 09:35] vbuberen opened #30 "Google Play policies violation in flutter_segment 3.7.0"
After pushing another update for the app I am currently working on I saw the following warning in Play Developer Console:

Checked the Segment Android SDK and saw that in 4.10.1 the issue was resolved: https://github.com/segmentio/analytics-android/blob/master/CHANGELOG.md#version-4101-jan-11-2022

Considering that 9th of August is pretty soon already and release cycle of `flutter_segment` isn't t

[2022-06-09 15:21] danielgomezrico commented on #30
@vbuberen have you checked your app data checks? You need to specify there when your app does get or not user data and then that will not fail, I think that this is the issue because we haven't seen this problem in production.

[2022-06-09 15:22] #25 closed

[2022-06-09 15:49] danielgomezrico opened #32 "FlutterSegmentPlugin.java uses or overrides a deprecated API."
We have a deprecated implementation for the plugin on android:

There's a warning running the project:
[code]

[2022-06-09 18:47] vbuberen commented on #30
Yes, the corresponding section in the Play Store is filled correctly. This warning appeared just yesterday with a new release.
I shared the whole content of a message from the Developer Console, which clearly indicates that this is because of `4.10.0` version of `com.segment.analytics.android:analytics`. In the PR I opened I mentioned that the suggested by Google Play version `4.10.1` indeed has t

[2022-06-09 19:07] vbuberen commented on #32
This is caused by https://github.com/la-haus/flutter-segment/blob/master/android/src/main/java/com/example/flutter_segment/FlutterSegmentPlugin.java#L97 since `middleware()` is deprecated and should be replaced with `useSourceMiddleware()`

<img width="636" alt="Screenshot 2022-06-09 at 22 06 52" src="https://user-images.githubusercontent.com/13467769/172925025-751caba8-2d8e-45fe-9dd6-49f36ec7a592

[2022-06-10 02:29] ariefwijaya commented on #30
Confirmed, just got it too
![image](https://user-images.githubusercontent.com/24664153/172978357-4962a16c-f1be-4b58-b195-62721ada46b4.png)

[2022-06-10 02:47] ariefwijaya commented on #30
Confirmed, just got it too
![Screenshot_2022-06-10_at_09 19 44](https://user-images.githubusercontent.com/24664153/172980265-8579a865-ed1f-42da-b855-354a29c0b554.png)

[2022-06-10 02:49] ariefwijaya commented on #16
@Imgkl you can fork this plugin or use mine [Firebae Integration](https://github.com/sribuu/flutter-segment/tree/feature/firebase-integration  ), if you need it now.

[2022-06-10 02:51] ariefwijaya commented on #24
@ahetawal-p did you solved the issue? if yes, we can close this.

[2022-06-10 02:59] ariefwijaya commented on #26
@Mik77o for advertising id, this is how use it along flutter_segment.

<img width="581" alt="image" src="https://user-images.githubusercontent.com/24664153/172981396-16beaf83-4da8-4f4c-8711-0b3cf2c589f9.png">

you can use `.setContext` method to put any key-value pair under spesific preserved key. it won't delete any other value except the one we want to overwrite,

[2022-06-10 03:01] ariefwijaya commented on #26
...

@danielgomezrico this happened to me, I found it never track Application Installed in iOS for our Dart-Installation. I've tried but now I have no idea to fix it,

[2022-06-10 03:03] ariefwijaya commented on #32
@vbuberen could you create a PR for it?

[2022-06-10 06:34] vbuberen commented on #32
Yes, that is the plan. Waited for Android updates PR to be merged first.

[2022-06-10 06:46] vbuberen commented on #32
Looked once again and found more of deprecated things - method from Flutter V1 embedding, which is not used anymore.
https://github.com/la-haus/flutter-segment/blob/master/android/src/main/java/com/example/flutter_segment/FlutterSegmentPlugin.java#L42

We were removing such things from Plus Plugins last November as well. Will also address it in my PR.

[2022-06-13 08:32] AkshitOstwal commented on #30
I also have same message coming on play store, I hope #31 will get merged soon.

[2022-06-13 14:15] MuzavaziTawa opened #34 "Non compliant SDK version android.analytics error"
Hello there. Tried uploading a new app version to Google play store and received this error:

"Your app xxx.xx.xxx.xx version code 1 includes SDK com.segment.analytics.android:analytics, 4.10.0 or an SDK that one of your libraries depends on which collects personal or sensitive data that includes but may not be limited to Advertising ID, Android ID identifiers. Persistent device identifiers may no

[2022-06-13 16:24] #34 closed

[2022-06-13 16:26] MuzavaziTawa commented on #30
Facing the same problem, seems they are actually enforcing it now though because i cant publish my app on Google Play Store

[2022-06-13 16:28] danielgomezrico commented on #34
Duplicated from: https://github.com/la-haus/flutter-segment/issues/30

[2022-06-13 16:30] danielgomezrico commented on #30
I will reopen to wait until someone says that this worked, related to: https://github.com/la-haus/flutter-segment/pull/31#issuecomment-1153920705

[2022-06-13 16:32] MuzavaziTawa commented on #34
Yes, sorry. I saw #30 after I had already raised the issue. Will follow the issue from there.

[2022-06-14 09:13] tspoke commented on #30
I was able to deploy to Google Play with **success** using the latest commit with the fix :

[code]

LGTM 👍

[2022-06-15 12:03] TejasShuklaWeserveCodes commented on #30
Google Play policies violation in flutter_segment 3.7.0

Your app includes non compliant SDK version
Your app ********** version code 1 includes SDK com.segment.analytics.android:analytics, 4.10.0 or an SDK that one of your libraries depends on, which collects personal or sensitive data that includes but may not be limited to Advertising ID, Android ID identifiers. Persistent device identifiers ma

[2022-06-15 13:38] tspoke commented on #30
@TejasShukalPlutustec It has already been fixed in flutter_segment 3.9.0.

[2022-06-15 15:37] ariefwijaya commented on #30
why don't we close this issue to avoid misunderstanding ?

[2022-06-17 08:34] vbuberen commented on #30
Also believe that it can be closed based on feedback provided above.

For those, who scroll to the end of issues right away the solution is to update `flutter_segment` to `3.9.0`

[2022-06-17 08:34] #30 closed

[2022-06-21 20:15] bhayatus opened #38 "Can't build app on iOS after upgrading to 3.9.0"
After upgrading to 3.9.0, I keep getting an error when Xcode tries to build the app on iOS.

[code]

[2022-06-21 20:24] danielgomezrico commented on #38
It looks like it is related to this:
- https://github.com/la-haus/flutter-segment/pull/19

@johnsouza-loftbr do you have any idea?

[2022-06-22 13:04] johnsouza-loftbr commented on #38
@danielgomezrico not yet, let me do some digging and reach you guys as soon as possible.

[2022-06-22 13:10] johnsouza-loftbr commented on #38
hi @bhayatus! Can you tell me if the problem occurs when you build for debug or release?

[2022-06-22 13:13] bhayatus commented on #38
@johnsouza-loftbr I didn't try release mode but building in debug mode was what led to this.

[2022-06-22 13:35] johnsouza-loftbr commented on #38
@bhayatus thank you! Did some digging here and couldn't reproduce the problem. While I keep doing the dig part, let me ask you: you tried `flutter clean` and a XCode full clean? Sometimes XCode loses itself when working with libraries that changes dependencies. So my suggestion is:

1. run `flutter clean`;
2. clear the Derived Data folder `rm -rf ~/Library/Developer/Xcode/DerivedData`;
3. rebuild

[2022-06-22 13:51] bhayatus commented on #38
Tried what was suggested, still an issue. Here's flutter doctor on my MacBook if that helps.

[code]

[2022-06-22 13:53] johnsouza-loftbr commented on #38
Hmmm. Can you copy the content of your Podfile here, please?

[2022-06-22 14:00] bhayatus commented on #38
[code]

[2022-06-22 14:13] johnsouza-loftbr commented on #38
Ok, right now I have two guesses:

1. The problem is with Cocoapods. Running `pod deintegrate` and then `pod install` should fix;
2. The problem is really about non-modular header, if it's that we'll need to release a new version of the library.

My guts points that option 1 will resolve, because I was unable to reproduce the problem, by updating to 3.9.0 and by using 3.9.0 on a new app.

Can you

[2022-06-22 14:28] bhayatus commented on #38
Still not working. I'm reading online that newer versions of Xcode flag this as an issue, is it possible you are using an older version?

[2022-06-22 14:38] johnsouza-loftbr commented on #38
Using the last stable release (13.4.1) here. Will create a new fork with some changes and reach you when it's ready for testing, ok?

[2022-06-22 14:39] bhayatus commented on #38
Absolutely, I appreciate the speed of your replies.

[2022-06-22 14:46] johnsouza-loftbr commented on #38
Just trying to help (and I don't like the ideia that someone's job is stuck because of me haha).

Just found something that can be helpful, last attempt to fix that without needing a new version of the plugin:

Add this line of code in your Podfile, inside post_install declaration:

`config.build_settings['CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES'] = 'YES'`

So your Podfile will look

[2022-06-22 15:01] bhayatus commented on #38
That worked, though seems like a band aid solution. Thanks for the fix in any case.

[2022-06-22 15:11] johnsouza-loftbr commented on #38
Yay! And i agree with you, it's not the better solution, but at least you have your project working again.

I'll made the changes needed and when everything is good to go @danielgomezrico will release a new version, ok?

Thank you for you patience and help!

[2022-06-22 19:14] danielgomezrico commented on #38
Is that something that must be done inside the library setup or that each client must do that on their personal podfile?

[2022-06-22 19:16] johnsouza-loftbr commented on #38
@danielgomezrico I'm not 100% sure about the solution, maybe is the one that I described to @bhayatus. But my will is to solve inside the library, to avoid the need of adding something to the Podfile.

Right now I'm trying to reproduce the error, so can I start evaluating other solutions.

[2022-06-22 19:28] danielgomezrico commented on #38
There's one way to cleanup your local dependencies on iOS:

[code]

Maybe that helps?

[2022-06-22 19:44] johnsouza-loftbr commented on #38
@danielgomezrico thanks! Did that but the error still do not happen. @bhayatus have you tried to create a new flutter project, add the flutter_segment: 3.9.0 and run it on the iOS emulator?

[2022-06-22 21:48] bhayatus commented on #38
So I tried a new Flutter project, and no issues running with `3.9.0`. Then I decided to compare the Podfiles. Decided to remove the line `pod 'Analytics', '~> 4.1'` and the issue went away, even without the fix mentioned above. I'm not sure why the dependency was added originally (or why it causes the issue for that matter), since this plugin doesn't require that being there.

[2022-06-22 22:07] danielgomezrico commented on #38
So @bhayatus we can close this issue?

[2022-06-22 22:10] bhayatus commented on #38
I believe I should be good after making this change, thanks again.

[2022-06-22 22:10] #38 closed

[2022-06-23 13:13] minoesteban commented on #26
We are facing the same issue... after upgrading the package to 3.9.0 and removing the `Info.plist` keys not only we stopped getting `Application Installed` events but we are also not getting as many `Application Opened` events as we should.

We are getting `Application Backgrounded` correctly though.

So most times we get 4/5 `Application Backgrounded` events in a row from the same device, and not

[2022-06-23 14:18] Mik77o commented on #26
@minoesteban I think that Application Updated event is also not tracked. (for iOS)

[2022-06-23 20:11] danielgomezrico commented on #26
🤔 Its weird, I can see those events for iOS and android on our side, anyone has any clue?

[2022-06-24 06:41] zenled commented on #26
@danielgomezrico
Can you confirm you are configuring Segment via Dart and not via `Info.plist`.

[2022-06-28 12:01] konoshenko opened #40 "Important warning in Google Play Console"
Can someone explain what currently I should do with my app for solving this problem?

 flutter_segment: ^3.5.0
<img width="974" alt="Screenshot 2022-06-28 at 14 58 00" src="https://user-images.githubusercontent.com/102408516/176173192-cc2dfcd9-1ecf-4388-b27a-7e5e1a9d1dbc.png">

[2022-06-28 16:03] danielgomezrico commented on #40
@konoshenko Maybe this fix your issue? https://github.com/la-haus/flutter-segment/issues/30

Update to `3.9.0`

[2022-06-29 00:08] #40 closed

[2022-06-29 04:26] konoshenko commented on #40
@danielgomezrico Thank you for help 😊

[2022-06-29 15:21] DarwinVJ opened #41 "Request: Appsflyer one links"
Does the plugin have onelinks configuration or must the appsflyer plugin be installed to detect onelinks?

[2022-06-29 15:23] danielgomezrico commented on #41
This is the PR that added appsflyer integration https://github.com/la-haus/flutter-segment/pull/19

You are welcome to create a contribution with that too :)

[2022-06-29 15:52] Pexeed commented on #40
I'm using 3.9.0 and got this error again on today's build, we probably need to update the Android SDK again in the library.

[2022-06-29 16:01] danielgomezrico commented on #40
The mesage you show is weird, the version the library use is not that one, is https://github.com/la-haus/flutter-segment/blob/master/android/build.gradle#L37

[2022-06-29 17:13] Pexeed commented on #40
Ok found out what happened, we merged a dependabot PR that moved the segment version back, my bad, nothing to see here lol

[2022-07-01 11:54] psovit opened #42 "Confusing Documentation needs to be improved"
The package's readme file says something about deprecation in `AndroidManifest` and `Info.plist` files.
However, it is not clear if the deprecated part is needed in latest versions (for eg: `3.9.0`).

Also, looking at the latest example code, it is still using deprecated code.

Can you guys please update the documentation or the example?

<img width="1095" alt="Screen Shot 2022-07-01 at 17 36 09"

[2022-07-05 22:15] brightmind-loredo commented on #41
Be careful... Onelinks are useful in (at least) two different use cases: 1) user attribution and 2) deep linking (Appsflyer defines this term).  This 2nd use case is well beyond the scope of Segment.io Identify and Track calls, but super useful for marketing your app.  So to the extent you will need deep linking you will need to integrate your app with Appsflyer SDK.  I just did this and it was no

[2022-07-11 15:42] RicharC293 commented on #16
@danielgomezrico  maybe can merge @ariefwijaya  implementation?
I was test this and works ok

[2022-07-11 16:01] danielgomezrico commented on #16
@RicharC293 there are no PRs to merge, if you want you can use @ariefwijaya fork

[2022-07-11 17:10] ariefwijaya commented on #16
I can create a PR for firebase analytics, but mine requires this PR https://github.com/la-haus/flutter-segment/pull/18
@RicharC293 @danielgomezrico

[2022-07-11 17:25] danielgomezrico commented on #16
Then no becuase it can not be merged like that

[2022-07-19 23:39] henriblancke opened #45 "Amplitude session id always -1"
I've not been able to get session ids working for Amplitude on both iOS and Android. Session IDs keep defaulting to `-1`. This is with `amplitudeIntegrationEnabled` enabled and for both per event and system default method:

[code]

I've tried passing in the example value `1578083527` as session id, as well as a second and a millisecond unix epoch, none seem to propagate to Amplitude.

Anything I a

[2022-07-25 09:20] Mik77o opened #46 "Firebase destination"
I wonder if it is possible to integrate Firebase as a destination for Segment for this plugin.
[firebase_segment](https://segment.com/docs/connections/destinations/catalog/firebase/)

[2022-07-25 13:28] thorgexyz commented on #42
@danielgomezrico Can you give some clarification on whether those steps are still required or not here in this Thread?

[2022-07-25 14:22] danielgomezrico commented on #46
Thanks, I will close it because its a duplicate from: https://github.com/la-haus/flutter-segment/issues/16

[2022-07-25 14:22] #46 closed

[2022-07-26 07:36] Mik77o commented on #16
@ariefwijaya, could you please introduce how you add configuration to Firebase as a destination for Segment on your fork? I wonder if it is necessary, for example, to add changes to _build.gradle_ on your fork, or is it already configured? Second, how to invoke a configuration for a Segment so that Firebase is the destination?

[2022-07-26 16:39] #13 closed

[2022-07-26 16:40] danielgomezrico opened #47 "Code Style: setup"
We need to setup each platform so every PR does not include style changes:

- [ ] Flutter dart code
- [ ] Android kotlin code
- [ ] iOS swift code

[2022-07-26 16:48] #32 closed

[2022-08-01 01:07] ariefwijaya commented on #16
@Mik77o  You can see my fork to compare, but here are the things:
1. as you can see here, Firebase Analytics only support device mode integration, it means we don't have any chance to use server-side integration. So we don't need to add firebase as destination for our segment admin dashboard.
<img width="743" alt="image" src="https://user-images.githubusercontent.com/24664153/182053884-8c1ed652-75

[2022-08-04 13:56] guillo071191 commented on #16
@danielgomezrico I just created a PR to solve this issue. Hope it helps everyone, it is currently working fine in our app. Let me know what else I need to do to merge this into the master branch.

[2022-08-04 14:41] danielgomezrico opened #49 "Split library to support different services"
# Current
We add integration with things like amplitude, firebase and so on and that requires that the dependency is added on each platform like this:

-Android: https://github.com/la-haus/flutter-segment/blob/master/android/build.gradle#L38
- iOS: https://github.com/la-haus/flutter-segment/blob/master/ios/flutter_segment.podspec#L19

This makes that the effort made by the Segment team to avoid ha

[2022-08-04 21:32] jvelezos opened #50 "Request: Flutter desktop support (MacOS and Windows)"
We would like to try segment at Superlist. I've noticed that the current version is based on dart so I thought it could work. however, the track event does throw:
`MissingPluginException(No implementation found for method track on channel flutter_segment)`

Any plans of having those platforms supported?

[2022-08-05 23:28] danielgomezrico commented on #50
Thanks the issue, the are no plans to support that but it would be awesome if you could start a contribution for that 👍🏻

BTY It looks like MacOS is already supported, can you please confirm if it works to update the readme?

I see this:

[2022-08-05 23:31] danielgomezrico commented on #22
Mm I see that theres a method that handles this:

https://github.com/la-haus/flutter-segment/blob/16f9fbe4a079b61244c93d714d56b0caafdfa3cc/ios/Classes/FlutterSegmentPlugin.m#L347-L364

[2022-08-05 23:31] danielgomezrico commented on #22
@Smibser the issue happens on which device? android or iOS?

[2022-08-09 16:03] danielgomezrico opened #51 "Gitignore / Pubignore inconsistencies"
[code]

[2022-08-11 11:49] b099l3 opened #52 "Request: Facebook App Events Support"
### Context
I am looking to use [Facebook App Events](https://segment.com/docs/connections/destinations/catalog/facebook-app-events/#facebook-app-events-destination), only the _Application Installed_ event, to track ads -> installs.

### Current state of play
There is only a native and react-native support for this and Flutter we will have to add in to this repo or fork.

From reading these issues

[2022-08-12 16:44] b099l3 opened #53 "Request: Ad Tracking and IDFA Docs?"
I see this package is using [analytics-ios](https://github.com/segmentio/analytics-ios) [4.1.6](https://github.com/la-haus/flutter-segment/blob/master/ios/flutter_segment.podspec#L18)

When trying to set up [Ad Tracking and IDFA](https://segment.com/docs/connections/sources/catalog/libraries/mobile/ios/#ad-tracking-and-idfa) I noticed the official docs has some setup steps with analytics-ios 4.1 o

[2022-08-15 08:58] b099l3 commented on #52
Went with option 2:
- #54

[2022-08-15 16:19] b099l3 commented on #26
This looks like it is a method sequence issue with when the dart method `Segment.config()` is called:

Method flow for App start with flutter-segment:

1. [AppDelegate](https://github.com/la-haus/flutter-segment/blob/master/example/ios/Runner/AppDelegate.m#L6) `didFinishLaunchingWithOptions:`
2. [GeneratedPluginRegistrant](https://github.com/la-haus/flutter-segment/blob/master/ios/Classes/FlutterS

[2022-08-15 20:36] b099l3 commented on #26
I created a potential fix, #56, that manually sends the event `Application Installed` and `Application Updated` when we call the dart code `Segment.config()`.

This is in the native iOS code of flutter_segement so will only run on iOS. It works in the same way that the native segment package works, [analysis-ios](https://github.com/segmentio/analytics-ios), checks the same `NSUserDefaults`, the im

[2022-08-16 08:26] b099l3 commented on #52
Fix for the Application Installed event:
 - #56

[2022-08-20 15:08] danielgomezrico commented on #53
Hi @b099l3

Thanks for opening the issue, If that feature is already working and you found a way to do it feel free to add docs for it :) sure!

[2022-08-24 13:50] danielgomezrico opened #57 "Use pubspec version on each platform Library version"
# Current
We need to go to these files manually and put the same value from `pubspec.yml` (https://github.com/la-haus/flutter-segment/blob/master/pubspec.yaml#L3) in here on each release

Each file where it should be updated:
- https://github.com/la-haus/flutter-segment/blob/master/ios/flutter_segment.podspec#L6
- https://github.com/la-haus/flutter-segment/blob/master/android/build.gradle#L2

# Ex

[2022-08-30 09:04] savy-91 commented on #26
Maybe this can be closed @danielgomezrico ?

[2022-08-30 15:45] danielgomezrico commented on #26
@Mik77o has updated to the latest version? This should be fixed after https://github.com/la-haus/flutter-segment/pull/56

[2022-08-30 18:57] Mik77o commented on #26
@danielgomezrico Thanks for reminder. I will check it soon :)

[2022-09-08 21:16] jeffkelsey commented on #16
We need this integration for some of our attribution events, +1 to getting the above merged ASAP  👀

[2022-09-08 22:47] danielgomezrico commented on #16
@jeffkelsey if you need it now, you could use it from your project if you point to the branch

[2022-09-12 23:20] jeffkelsey commented on #16
@danielgomezrico , which branch? It looks like [the PR here](https://github.com/la-haus/flutter-segment/pull/48) has build errors for android.

I tried:

[code]

I am getting the following library conflict issue when trying to build for iOS with the version  1.20.0( about 2 months old) of the core  firebase flutter libraries:

[code]

[2022-09-15 17:51] jeffkelsey commented on #16
@danielgomezrico  do you have any idea on the timeline for getting the proper firebase analytics support into the flutter segment plugin? The business team at my company is asking me about this since all our tracking is through flutter segment and we need to get our events into firebase analytics without having to track our events twice (once in segment, once with firebase  analytics sdk) which wo

[2022-09-15 19:07] danielgomezrico commented on #26
@Mik77o any updates? 🤓

[2022-09-15 19:09] danielgomezrico commented on #16
From our side, there are no plans to include it, our business does not require that, I don't ask you to open a PR  adding this because theres a blocker to merge this kind of PRs here:
- https://github.com/la-haus/flutter-segment/issues/49

You could have a branch with the integration or fix the issues on the PR from thorgexyz too if you want to use it

[2022-09-16 14:02] ariefwijaya commented on #49
This is needed because one of the benefits of the segment is as a portal to all CRMs. Maybe cloud mode doesn't need this, but not device mode.

[2022-10-04 08:15] ariefwijaya commented on #52
@b099l3
We can use cloud mode for facebook, no need to add the facebook library in our flutter-segment. Just add facebook destination from `segment` admin panel.
https://segment.com/docs/connections/destinations/catalog/facebook-app-events/
<img width="718" alt="image" src="https://user-images.githubusercontent.com/24664153/193768579-3e6fb949-508f-4109-bd6a-445900435654.png">

For the advertising

[2022-10-14 14:53] brunapcat commented on #53
Hello,

Are there any updates abot setting up Ad Tracking and IDFA on iOS?

[2022-10-19 16:39] danielgomezrico commented on #41
@DarwinVJ why did you close this?

[2022-10-19 17:05] DarwinVJ opened #58 "Appsflyer integration is not sending"
Having configured the integration with appsflyer, it usually happens that events are sent with: integrations: {}, is there any reason for this to happen?

[2022-10-19 17:06] DarwinVJ commented on #41
I thought that this topic was already closed with the answers you gave.

[2022-10-20 01:09] danielgomezrico commented on #41
Darwin just to confirm, it already detects one links?

[2022-10-20 14:32] DarwinVJ commented on #41
Yes, using only appsflyer sdk to listen to onelinks

[2022-10-20 14:45] danielgomezrico commented on #41
Then yeah, this issue could be closed :)

[2022-10-20 14:45] #41 closed

[2022-10-26 08:53] Mik77o commented on #26
@danielgomezrico Seems to be working now! :)

[2022-10-26 11:38] Mik77o opened #59 "Device_id is missing for Application Installed event (only for Android)"
Sometimes the Segment device_id is empty for the Application Installed event. Applies to Android.
[code]

[2022-10-26 15:49] #26 closed

[2022-10-26 15:49] danielgomezrico commented on #26
You are welcome to reopen if it breaks again

[2022-10-27 10:52] Mik77o commented on #59
@danielgomezrico, Maybe it is related to this -https://segment.com/docs/connections/sources/catalog/libraries/mobile/android/#analytics-android-and-unique-identifiers - `context.device.id`? What do you think?

[2022-10-29 16:38] b099l3 commented on #52
See this https://github.com/la-haus/flutter-segment/pull/54#issuecomment-1295875295 for details about why this didn't work in my case.

[2022-11-09 17:50] brunapcat commented on #16
@jeffkelsey I'm in the same situation right now, how did you handle this considering the attempts to add this integration were blocked?
Using a fork seems like a strange option to me... you would have to eternally merge with the main branch to get updates that might be useful and handle eventual conflicts, idk :/ seems like a bad solution

[2022-11-09 17:54] jeffkelsey commented on #16
I de-prioritized the firebase analytics events via segment work, Biz team was not happy...

[2022-11-09 17:55] brunapcat commented on #16
so basically still waiting for a solution? hahah, oh well here we go

[2022-11-09 17:57] jeffkelsey commented on #16
yeah, waiting for a better option 😴😴😴

[2022-11-09 22:48] ariefwijaya commented on #16
@danielgomezrico Hi, I think, if our business don't required any external integration. we need to close this PR #15 and remove amplitude from flutter_segment . so we will have a clean flutter_segment.

[2022-11-17 20:56] spegoraro commented on #58
I've noticed that the `integrations` field in the raw payload has `AppsFlyer: false` for all events when I set `appsflyerIntegrationEnabled: true` in the config.

[2022-11-18 06:20] SarthakWebEngage opened #61 "How to use WebEngage through flutter_segment."
I want to integrate WebEngage through flutter, can you please guide me how to do so.

For instance, native integration looks like:

`Analytics analytics = new Analytics.Builder(this, "KEY")
                .trackApplicationLifecycleEvents() // Enable this to record certain application events automatically!
                .logLevel(Analytics.LogLevel.VERBOSE)
                .use(WebEngageIntegrat

[2022-11-22 16:26] b099l3 commented on #49
Just seen the MoEngage PR and I was also looking into integrating Adjust, this is a repeating problem. @danielgomezrico Sorry for the delay. I have been thinking about this a lot and how we would architect it. I believe we have these issues to address:

## Architecture:
 I had the idea that we would need the following:
1. A **core package** that
  - keeps all the standard segment calls:
  - Starts

[2022-11-30 12:53] SarthakWebEngage commented on #61
Hey @danielgomezrico,
I would like to submit a pull request to support usage for third party integration like WebEngage. Do help me with any pre-requisites if any.

[2022-11-30 19:34] danielgomezrico commented on #61
@SarthakWebEngage Currently we have a blocking issue related to new integrations: https://github.com/la-haus/flutter-segment/issues/49

I advise you to create a branch with the implementation and use pubspec to point to that branch if you want to have it fast :)

[2022-11-30 19:37] danielgomezrico commented on #49
Thanks for those ideas @b099l3, this is an excellent starting point to resolve the issue.

We are sorry but as a company this month this got a low priority, and we need to ultra focus on other things, we will come back in a month or so to continue with it :)